<section>
  <article>
    <h3>Interpolaçao</h3>
    <p>string renderizada com interpolaçao: {{ url }}</p>
    <p>O resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Gosto de angular? {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <div>
    <select #classe (change)="(0)">
      <option value="select">select</option>
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
    </select>

    <div [class.red]="classe.value === 'red'">red</div>
    <div [class.green]="classe.value === 'green'">green</div>
    <div [class.blue]="classe.value === 'blue'">blue</div>
  </div>
  <br />
  <div
    [style.display]="classe.value === 'red' ? 'block' : 'none'"
    [class]="'red'"
  >
    usando css inline
  </div>
  <article>
    <h3>Property Binding</h3>
    <p>3 formas de fazer</p>
    <!-- <img src="{{ urlImage }}" /> -->
    <!-- <img [src]="urlImage" /> -->
    <!-- <img bind-src="urlImage" /> -->
  </article>
</section>

<section>
  <h3>Event binding</h3>
  <div>
    <button (click)="botaoClicado()">Me click</button>
    <input
      type="text"
      (keyup)="onkeyUp($event)"
      (keyup.enter)="salvarValor($event.target)"
      (blur)="salvarValor($event.target)"
    />
    <p>Valor do input: {{ valorInput }}</p>
    <p>Valor salto: {{ valorSalvo }}</p>
    <br />
    <span
      (mouseover)="mouseOver()"
      (mouseout)="mouseOver()"
      [class.red]="isMouseOver"
      >Passe o mouse sobre mim</span
    >
  </div>
</section>

<section>
  <h3>Two-way data-binding</h3>

  <div>
    <input type="text" [(ngModel)]="nome" />
    <p>{{ nome }}</p>
  </div>

  <div>
    <input type="text" [(ngModel)]="pessoa.nome" />
    <input type="text" [(ngModel)]="pessoa.idade" />

    <p>meu nome é {{ pessoa.nome }} e minha idade é {{ pessoa.idade }}</p>
  </div>
</section>

<section>
  <h3>Input/Output Properties</h3>
  <app-curso [nomeDoCurso]="nomeDoCurso"></app-curso>
</section>

<section>
  <h3>Counter</h3>
  <app-counter-output
    [valor]="valor"
    (mudouValor)="onMudouValor($event)"
  ></app-counter-output>

  <p>O valor do input é {{ inputValue }}</p>
</section>
