<h1>
  {{ title }}
</h1>

<app-meu-primeiro-component></app-meu-primeiro-component>
<app-meu-primeiro2></app-meu-primeiro2>
<app-cursos></app-cursos>

<router-outlet></router-outlet>

<app-data-binding></app-data-binding>

<div>
  <h3>Ciclos de vida</h3>
  <app-ciclo-de-vida
    [valorInicial]="valorInicial"
    *ngIf="!deletarCiclo"
  ></app-ciclo-de-vida>
  <button (click)="mudarValor()">Mudar valor</button>
  <br />
  <button (click)="deletar()">Deletar ciclo</button>
  <button (click)="restaurar()">Restaurar ciclo</button>
</div>

<div>
  <app-diretiva-ngif></app-diretiva-ngif>
</div>

<div>
  <app-diretiva-switch></app-diretiva-switch>
</div>

<div>
  <app-diretiva-ngfor></app-diretiva-ngfor>
</div>
